body {
  font-family: Raleway, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 1100px;
    height: 596px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}