.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    padding: 92px 50px 96px;
}

.content-section{
    width: 100%;
    margin: 0 auto;
}

.header_menu{
    display: flex;
    flex-direction: row;
    row-gap: 13px;
}

.header_menu_list{
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__link{
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    color: black;
    font-size: 18px;
}

.header__link_active{
    text-decoration: none;
    color: black;
}

.header_logo{
    display: block;
    justify-self: center;
    align-self: center;
    width: 148px;
}

.header_logo_image{
    width: 100%;
    height: auto;
}

.adress{
    font-style: inherit;
}

.header__adress{
    justify-self: end;
    font-style: italic;
}

.adress-item{
     display: block;
    font-size: 18px;
    line-height: 1.35;
    text-underline-position: under;
    color: black;
    margin-bottom: 4px;
}

.cover{
    position: relative;
    padding: 165px 50px 50px 50px;
    background-image: url(../images/lotus-flower.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.card_title{
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    color: white;
    margin: 0;
    padding-top: 10px;
}

.alignet-text {
    display: block;
}

.alignet-text-left {
    text-align: left;
    padding-left: 50px;
}

.alignet-text-center {
    text-align: center;
}

.alignet-text-right {
    text-align: right;
    padding-right: 50px;
}

.description {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    z-index: 1;
    color: white;
    margin-top: auto;
    align-items: baseline;
    padding-left: 50px;
}

.card-text {
    font-size: 22px;
    line-height: 28px;
    width: 500;
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    word-spacing: 20px;
    font-style: regular;
}

.button {
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 256px;
    height: 51px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 28px;
    width: 500;
}

.lots{
    padding: 180px 50px 0;
    margin: 0 auto;
    max-width: 1440px;
}

.lots__heading{
    text-decoration: underline;
    font-size: 40px;
    font-weight: 700;
    padding-top: 100px;
    padding-bottom: 27px;
    padding-left: 64px;

}

.lots__card-list{
    display: grid;
    grid-template-columns: repeat(3, 334px);
    grid-template-rows: repeat(1, 596px);
    column-gap: 24px;
    list-style: none;
    justify-content: center;
    margin: 0 auto;
}

.lots__card-list-item{
    position: relative;
}

.card-link{
    display: block;
    height: 100%;
}

.card{
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-self: center;
    gap: 24px;
    width: auto;
    height: 100%;
    padding: 48px 40px;
}

.card_type_film{
    background-image: url(../images/photo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_book{
    background-image: url(../images/photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_picture{
    background-image: url(../images/photo1.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.card__title{
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text{
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 120%;
    text-decoration: none;
   

}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  padding-top: 130px;
  padding-left: 64px;
}

.about{
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 24px;
    padding: 180px 50px;
}

.about_column{
    justify-self: start;

}

.about_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    
}

.about_logo-image{
    width: 248px;
    height: 100%;
}

.about_title{
    padding: 100px 0 104px;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.about_text{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 180px 50px 80px;
}

.footer_menu_list{
    text-align: center;
    list-style: none;
    
}

.footer__menu-link{
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    text-underline-position: under;
    text-decoration: underline;
    
}

.footer__menu-link_active{
    text-decoration: none;
}

.footer__social-list{
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer__social-icon{
    width: auto;
    height: 48px;
}

