.main{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    padding: 92px 50px 96px;
    width: 1100px;
    box-sizing: border-box;
}

.content-section{
    width: 100%;
    margin: 0 auto;
}

.header_menu{
    display: flex;
    flex-direction: row;
    row-gap: 13px;
}

.header_menu_list{
    display: flex;
    gap: 32px;
    list-style: circle;
    padding-left: 0;
}

.header__link{
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    color: black;
    font-size: 18px;
}

.header__link_active{
    text-decoration: none;
    color: black;
}

.header_menu_list li:first-child{
    list-style: none;
}

.header_logo{
    display: block;
    width: 148px;
}

.header_logo_image{
    width: 100%;
    height: auto;
}

.adress{
    font-style: inherit;
}

.header__adress{
    justify-self: end;
    font-style: normal;
    padding-right: 54px;
    padding-bottom: 6px;
}

.adress-item{
    display: block;
    font-size: 18px;
    line-height: 1.35;
    text-underline-position: under;
    color: black;
    margin-bottom: 4px;
}

.cover{
    position: relative;
    background-image: url(../images/lotus-flower.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 757px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.card_title{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 1;
    color: white;
    padding-top: 165px;
    letter-spacing: 30px;
}

.alignet-text {
    display: block;
}

.alignet-text-left {
    text-align: left;
    padding-left: 50px;
}

.alignet-text-center {
    text-align: center;
    padding-left: 50px;
}

.alignet-text-right {
    text-align: right;
    padding-right: 20px;

    
}



.description {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    z-index: 1;
    color: white;
    padding: 0 50px 45px 30px;
    letter-spacing: 0;
}


.card-text {
    font-size: 22px;
    line-height: 28px;
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    word-spacing: 20px;
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 13px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: 1px solid white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    color: white;
    width: 256px;
    height: 51px;
    box-sizing: border-box;
    padding: 10px 0;


}

.lots{
    padding: 75px 0 0 0;
}

.lots__heading{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    padding-top: 100px;
    padding-bottom: 27px;
    padding-left: 64px;

}

.lots__card-list{
    display: grid;
    grid-template-columns: repeat(3, 334px);
    column-gap: 24px;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.lots__card-list-item{
    min-height: 596px;
    list-style: none;
}

.card-link{
    display: block;
    height: 100%;
    text-decoration: none;
    
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 100%;
    padding-top: 27px;
    box-sizing: border-box;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    
}


.card_type_film{
    background-image: url(../images/photo.png);
}

.card_type_book{
    background-image: url(../images/photo.jpg);
}

.card_type_picture{
    background-image: url(../images/photo1.png);

}

.card__title{
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 25px 0 0 0;
    padding: 0 40px;
}

.card__text{
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 120%;
    margin: 0 0 48px 0;
    padding: 0 40px;

}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  padding-top: 30px;
  padding-left: 64px;
}

.about{
    display: grid;
    grid-template-columns: 240px 2fr;
    grid-template-rows: auto auto;
    padding-top: 154px;
    padding-left: 70px;
    padding-bottom: 0;
    width: auto;
    margin: 0 auto;
}

.about_column{
    justify-self: start;

}

.about_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
}

.about_logo-image{
    width: 248px;
    height: 100%;
}

.about_title{
    padding: 80px 0 104px ;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    padding-left: 73px;
    padding-top: 105px;
}

.about_text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 73px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    padding-top: 180px;
    width: 1100px;
    box-sizing: border-box;
    align-items: center;
  
}

.footer_menu_list{
    text-align: center;
    list-style: none;
    padding-left:  25px;
    padding-bottom: 15px;
    
}

.footer__menu-link{
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    text-underline-position: under;
    text-decoration: underline;
}

.footer__menu-link_active{
    text-decoration: none;
}

.footer__social-list{
    display: flex;
    gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 25px;
}

.footer__social-icon{
    width: auto;
    height: 48px;
}

.adress_footer{
    padding-top: 30px;
}